@mixin flex($align-items: center, $justify-content: center, $flex-direction: initial) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}
