// z-index
$zGnb: 100 !default;
$zPopup: 1000 !default;
$zHeader: 1 !default;
$zContent: 1 !default;
$zFooter: 1 !default;

// font-weight
$weightT: 100 !default;
$weightL: 300 !default;
$weightR: 400 !default;
$weightM: 500 !default;
$weightSB: 600 !default;
$weightB: 700 !default;
$weightEB: 900 !default;

// font-famil
$default-font:'Pretendard' !default;
$title-font:'Poppins' !default;