// color setting
$white: #fff !default;
$black: #000 !default;
$dark: #111 !default;

// font-weight
$weightT: 200 !default;
$weightL: 300 !default;
$weightR: 400 !default;
$weightM: 500 !default;
$weightSB: 600 !default;
$weightB: 700 !default;
$weightEB: 800 !default;

// z-index
$z-gnb: 500 !default;
$z-gnb-btn: 600 !default;
$z-popup: 1000 !default;
$z-header: 1 !default;
$z-content: 1 !default;
$z-footer: 100 !default;

$defaultfont: "larken", sans-serif;
