/* ----------------------------------------------------------
	공통 
---------------------------------------------------------- */
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  background: #EBE8E4;
}

body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.hidden {
  display: none !important;
}

.hidden-desktop {
  display: none !important;

  @include mobile {
    display: block !important;
  }
}

.hidden-mobile {
  display: block !important;

  @include mobile {
    display: none !important;
  }
}

.br-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.br-pc {
  display: block;

  @include mobile {
    display: none;
  }
}

:root {
  --vw: 320;
}

@include tablet {
  :root {
    --vw: 769;
  }
}
@include tablet-wide {
  :root {
    --vw: 1280;
  }
}

@include notebook {
  :root {
    --vw: 1600;
  }
}

@include desktop {
  :root {
    --vw: 1920;
  }
}