//--------------------------------------
// @ Heading
//--------------------------------------
@mixin mc-heading1($color: $dark) {
  color: $color;
  font-weight: 700;
  font-size: vw(28);
  line-height: vw(40);
  letter-spacing: vw(-2.5);
}

@mixin mc-heading2($color: $dark) {
  color: $color;
  font-weight: 700;
  font-size: vw(26);
  line-height: vw(36);
  letter-spacing: vw(-2.5);
}

//--------------------------------------
// @ Body
//--------------------------------------
@mixin mc-body1($color: $dark, $weight: $weightB) {
  color: $color;
  font-weight: $weight;
  font-size: vw(16);
  line-height: vw(24);
  letter-spacing: vw(-2.5);
}

@mixin mc-body2($color: $dark, $weight: $weightB) {
  color: $color;
  font-weight: $weight;
  font-size: vw(14);
  line-height: vw(20);
  letter-spacing: vw(-2.5);
}

@mixin mc-body3($color: $dark, $weight: $weightB) {
  color: $color;
  font-weight: $weight;
  font-size: vw(12);
  line-height: vw(18);
  letter-spacing: vw(-2.5);
}

//--------------------------------------
// @ Label
//--------------------------------------
@mixin mc-label1($color: $dark, $weight: $weightB) {
  color: $color;
  font-weight: $weight;
  font-size: vw(18);
  line-height: vw(26);
}

@mixin mc-label2($color: $dark, $weight: $weightB) {
  color: $color;
  font-weight: $weight;
  font-size: vw(16);
  line-height: vw(24);
}

//--------------------------------------
// @ Footer
//--------------------------------------
@mixin mc-footer($color: $dark, $weight: $weightB) {
  color: $color;
  font-weight: $weight;
  font-size: vw(10);
  line-height: vw(16);
}
